<ion-view title="Let's do this">
  <ion-content class="has-header">
    <h1>I am up for a bbq !</h1>
      <!-- Participants -->
      <div class="list">
          <div class="item item-divider">
              I want to eat the following!
          </div>
          <ion-item ng-repeat="item in foodList" item="item">
              {{item.desc}} ( {{item.qty}} )
              <button ng-click="increase($index)" class="button button-small  button-icon icon ion-chevron-up"></button>
              <button ng-click="decrease($index)" class="button button-small button-icon icon ion-chevron-down"></button>
          </ion-item>
          <label class="item item-input">
              <input ng-model="info.name" type="text" placeholder="My Name">
          </label>
      </div>
      <a class="button button-block" ng-click="order()">Order !</a>
  </ion-content>
</ion-view>
